.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.VerticalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;  

}

.HorizontalContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

#Container {
  width: 100%;
  height: 100%;
}

div .thinLine {
  height: 1px;
  width: 90%;
  background-color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#ThreadContainer {
  padding: 40px;
}

#LandingContainer {
  margin-top: 20px;
}

#BoardHeader {
  margin-top: 70px;
  background-color: white;
}

.card {
  z-index: 0;
}

#ThreadContainer {
  padding-top: 100px;
}

html {
  background-color: #9bedcb;
}